.App {
  font-family: sans-serif;
  text-align: center;
}

.gallery-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  //margin-bottom: 1vw;
  img {
    width: 50vw;

  }
}

