.tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    //padding: 3vh 16vw;
}

.tile {
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16vw;
    height: 16vw;
    min-width: 100px;
    min-height: 100px;
}