.TopLine{ 
    width: 100%; 
    height: 70px;
    display: flex;
    //justify-content: center;
    align-items: center;
    .Icon {
      //float: left; 
      width: 170px;
      //display: block;
      margin-right: 4vw;
      box-sizing: border-box;
      padding-left: 10px;
      display: flex;
    }
    .Search{ 
      width: 60vw;
      //margin-left:260px; 
      //min-height:50px; 
      //background-color:red; 
    
    } 
    .rightBar {
      width: 40vw;
      .Post {
        float: right;
      }
      .Person{ 
      
        float:right; 
      
        //display:block; 
      
        //height:50px; 
      
      } 
    }
    
  } 
  #Menu{ 
    float:left; 
  
    width:250px; 
  
    height: 50px; 
  
    border:1px solid #CCC; 
  
    display:block; 
  
    background-color:yellow; 
  
  } 
  
  #Search{ 
  
    margin-left:260px; 
  
    min-height:50px; 
  
    display:block; 
  
    background-color:red; 
  
  } 
  
  #Person{ 
  
    float:right; 
  
    display:block; 
  
    height:50px; 
  
    background-color:#FFF; 
  
  } 
  
  #Search > .inner{ 
  
    height:50px; 
  
    background-color:red; 
  
    margin-right:20px; 
  
  } 
  
  #Person > .inner{ 
  
    background-color:green; 
  
    min-width:150px; 
  
    height:50px; 
  
    margin-left:10px; 
  
  }