.post-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    .post-button {
        width: 100px;
        border-radius: 30px;
        border-width: 0ch;
        color: #444444;
    }
    .post-button:hover {
        background-color: #dddddd;
        color: #666666;
    }
}
